{% extends "home/base.html" %}
{% block content %}

<center><div class="scheduleContainer" >
	<table class="table table-striped " style="width:700px; ">
		<tr>
			<td>Monday</td>
			<td>Tuesday</td>
			<td>Wednesday</td>
			<td>Thursday</td>
			<td>Friday</td>
		</tr>
		<tr>
			<td colspan="5" style="padding= 30px;">404 Error: Page not found</td>
		</tr>
		
	</table>
</div></center>


<div class="test" style="margin-left: 45%; max-width:800px;">
	<a class="navbar-brand" href="/schedule"><button type="button" class="btn btn-default btn-lg ">Return Home</button>
</div>

{% endblock %}
