{% extends "home/base.html" %}

{% block title %}Course Details Page{% endblock %}

{% block content %}

<script>
function dropDown(field) {
	if(document.getElementById(field).style.display == "none")
		document.getElementById(field).style.display = "block";
	else
		document.getElementById(field).style.display = "none";
}

function dropDownAndHide(field1,field2) {
	if(document.getElementById(field1).style.display == "none") {
		document.getElementById(field1).style.display = "table-row";
	} else {
		document.getElementById(field1).style.display = "none";
	}
	
	if(document.getElementById(field2).style.display == "none") {
		document.getElementById(field2).style.display = "table-cell";
	} else {
		document.getElementById(field2).style.display = "none";
	}
}
</script>

<div class="container">
	<div id="course-details">
		<div class="course-details-content">
			<p>Course Selection >> Course Details Page</p>
			<table class="table table-striped table-bordered">
				<tr>
					<td>
						<h3>{{ courses.1.course_code }} - {{ courses.1.course_name }}
							<button class="moreButton" onclick="dropDown('cDescription')">&#8711;</button>
						</h3>
					</td>
				<tr id="cDescription" style="display:none">
					<td>
						<p>{{courses.1.description}}</p>
					</td>
				</tr>
			</table>
			<table class="table table-striped table-bordered">
				<tr>
					<td id="ddTeachers">
						<h4>Teachers
							<input type="button" class="moreButton" onclick="dropDownAndHide('cTeachers','ddTeachers')" value="&#8711;"/>
						</h4>
					</td>
					<td id="ddSections">
						<h4>Sections
							<input type="button" class="moreButton" onclick="dropDownAndHide('cSections','ddSections')" value="&#8711;"/>
						</h4>
					</td>
					<td id="ddCredits">
						<h4>Credits
							<input type="button" class="moreButton" onclick="dropDownAndHide('cCredits', 'ddCredits')" value="&#8711;"/>
						</h4>
					</td>
					<td id="ddPrereq">
						<h4>Prerequisites
							<input type="button" class="moreButton" onclick="dropDownAndHide('cPrereq', 'ddPrereq')" value="&#8711;"/>
						</h4>
					</td>
					<td id="ddCoreq">
						<h4>Corequisites
							<input type="button" class="moreButton" onclick="dropDownAndHide('cCoreq', 'ddCoreq')" value="&#8711;"/>
						</h4>
					</td>
				</tr>
			</table>
			<table class="table table-striped table-bordered">
				<tr id="cTeachers" style="display:none;">
					<td class="course-details-content-width">
						<p><em>Teachers:</em>TESTESTTESTESTTESTESTTESTESTTESTESTTESTEST
							<input type="button" class="moreButton" onclick="dropDownAndHide('cTeachers','ddTeachers')" value="hide"/>
						</p>
					</td>
				</tr>
				<tr id="cSections" style="display:none">
					<td class="course-details-content-width">
						<p><em>Sections:</em>TESTESTTESTESTTESTESTTESTESTTESTESTTESTEST
							<input type="button" class="moreButton" onclick="dropDownAndHide('cSections','ddSections')" value="hide"/>
						</p>
					</td>
				</tr>
				<tr id="cCredits" style="display:none">
					<td class="course-details-content-width">
						<p><em>Credits:</em>TESTESTTESTESTTESTESTTESTESTTESTESTTESTEST
							<input type="button" class="moreButton" onclick="dropDownAndHide('cCredits', 'ddCredits')" value="hide"/>
						</p>
					</td>
				</tr>
				<tr id="cPrereq" style="display:none">
					<td class="course-details-content-width">
						<p><em>Prerequisites:</em>TESTESTTESTESTTESTESTTESTESTTESTESTTESTEST
							<input type="button" class="moreButton" onclick="dropDownAndHide('cPrereq', 'ddPrereq')" value="hide"/>
						</p>
					</td>
				</tr>
				<tr id="cCoreq" style="display:none">
					<td class="course-details-content-width">
						<p><em>Corequisites:</em>TESTESTTESTESTTESTESTTESTESTTESTESTTESTEST
							<input type="button" class="btn moreButton" onclick="dropDownAndHide('cCoreq', 'ddCoreq')" value="hide"/>
						</p>
					</td>
				</tr>
			</table>
			</br>
			<a href="course-selection"><button class="btn">Back to Course List</button>
			</a>
		</div>
		<div class="course-details-sidebar">
			<p> I don't know, the side shit that was on the prototype</p>
		</div>
	</div>
</div>

{% endblock %}