{% extends "home/base.html" %}

{% block title %}Course Details Page{% endblock %}

{% block content %}

<script>
function dropDown(field) {
	if(document.getElementById(field).style.display == "none")
		document.getElementById(field).style.display = "block";
	else
		document.getElementById(field).style.display = "none";
}

function dropDownAndHide(field1,field2) {
	if(document.getElementById(field1).style.display == "none") {
		document.getElementById(field1).style.display = "table-row";
	} else {
		document.getElementById(field1).style.display = "none";
	}
	
	if(document.getElementById(field2).style.display == "none") {
		document.getElementById(field2).style.display = "inline-block";
	} else {
		document.getElementById(field2).style.display = "none";
	}
}
</script>

<div class="container">
	<div id="course-details">
		<div class="course-details-content">
			<p>Course Selection >> Course Details Page</p>
			<table class="table table-striped table-bordered">
				<tr>
					<td>
						<h3>{{ courses.1.course_code }} - {{ courses.1.course_name }}
							<button class="moreButton" onclick="dropDown('cDescription')">&#8711;</button>
						</h3>
					</td>
				<tr id="cDescription" style="display:none">
					<td>
						<p>{{courses.1.description}}</p>
					</td>
				</tr>
			</table>
			<div id="course-details-buttons">
				<ul class="course-details-button-list">
					<li id="ddTeachers"><input type="button" class="btn" onclick="dropDownAndHide('cTeachers','ddTeachers')" value="Teachers"/></li>
					<li id="ddSections"><input type="button" class="btn" onclick="dropDownAndHide('cSections','ddSections')" value="Sections"/></li>
					<li id="ddCredits"><input type="button" class="btn" onclick="dropDownAndHide('cCredits', 'ddCredits')" value="Credits"/></li>
					<li id="ddPrereq"><input type="button" class="btn" onclick="dropDownAndHide('cPrereq', 'ddPrereq')" value="Prerequisites"/></li>
					<li id="ddCoreq"><input type="button" class="btn" onclick="dropDownAndHide('cCoreq', 'ddCoreq')" value="Corequisites"/></li>
				</ul>
			</div>
			<table class="table table-striped table-bordered">
				<tr id="cTeachers" style="display:none;">
					<td class="course-details-content-width">
						<p><em>Teachers:</em> TEST
							<input type="button" class="moreButton" onclick="dropDownAndHide('cTeachers','ddTeachers')" value="hide"/>
						</p>
					</td>
				</tr>
				<tr id="cSections" style="display:none">
					<td class="course-details-content-width">
						<p><em>Sections:</em> TESTESTTESTESTTESTESTTESTESTTESTESTTESTEST
							<input type="button" class="moreButton" onclick="dropDownAndHide('cSections','ddSections')" value="hide"/>
						</p>
					</td>
				</tr>
				<tr id="cCredits" style="display:none">
					<td class="course-details-content-width">
						<p><em>Credits:</em> TESTESTTESTESTTESTESTTESTESTTESTESTTESTEST
							<input type="button" class="moreButton" onclick="dropDownAndHide('cCredits', 'ddCredits')" value="hide"/>
						</p>
					</td>
				</tr>
				<tr id="cPrereq" style="display:none">
					<td class="course-details-content-width">
						<p><em>Prerequisites:</em> TESTESTTESTESTTESTESTTESTESTTESTESTTESTEST
							<input type="button" class="moreButton" onclick="dropDownAndHide('cPrereq', 'ddPrereq')" value="hide"/>
						</p>
					</td>
				</tr>
				<tr id="cCoreq" style="display:none">
					<td class="course-details-content-width">
						<p><em>Corequisites:</em> TESTESTTESTESTTESTESTTESTESTTESTESTTESTEST
							<input type="button" class="btn moreButton" onclick="dropDownAndHide('cCoreq', 'ddCoreq')" value="hide"/>
						</p>
					</td>
				</tr>
			</table>
			</br>
			<a href="course-selection"><button class="btn">Back to Course List</button>
			</a>
		</div>
		<div class="course-details-sidebar">
			<p> I don't know, the side shit that was on the prototype</p>
		</div>
	</div>
</div>

{% endblock %}