{% extends "home/base.html" %}

{% block content %}
<div class="container">
	<h1>Department Of Engineering & Computer Science <small>Concordia University</small></h1>
	<hr>
	<div class="row">
		<div class="col-md-3"><h2 class="inline">Programs</h2>
			<div class="row">
			</br>
				<div class="col-md-12">
					<table class="table table-bordered">
						<tr>
							{% if 'BLDG' in courses.0.course_code %}
							<th><a href="/course-selection/BLDG" class="btn btn-default btn-block active">Building Engineering</a></th>
							{% else %}
							<th><a href="/course-selection/BLDG" class="btn btn-default btn-block">Building Engineering</a></th>
							{% endif %}
						</tr>
						<tr>
							{% if 'CIVI' in courses.0.course_code %}
							<th><a href="/course-selection/CIVI" class="btn btn-default btn-block active">Civil Engineering</a></th>
							{% else %}
							<th><a href="/course-selection/CIVI" class="btn btn-default btn-block">Civil Engineering</a></th>
							{% endif %}
						</tr>
						<tr>
							{% if 'COEN' in courses.0.course_code %}
							<th><a href="/course-selection/COEN" class="btn btn-default btn-block active">Computer Engineering</a></th>
							{% else %}
							<th><a href="/course-selection/COEN" class="btn btn-default btn-block">Computer Engineering</a></th>
							{% endif %}
						</tr>
						<tr>
							{% if 'COMP' in courses.0.course_code %}
							<th><a href="/course-selection/COMP" class="btn btn-default btn-block active">Computer Science</a></th>
							{% else %}
							<th><a href="/course-selection/COMP" class="btn btn-default btn-block">Computer Science</a></th>
							{% endif %}
						</tr>
						<tr>
							{% if 'ELEC' in courses.0.course_code %}
							<th><a href="/course-selection/ELEC" class="btn btn-default btn-block active">Electrical Engineering</a></th>
							{% else %}
							<th><a href="/course-selection/ELEC" class="btn btn-default btn-block">Electrical Engineering</a></th>
							{% endif %}
						</tr>
						<tr>
							{% if 'INDU' in courses.0.course_code %}
							<th><a href="/course-selection/INDU" class="btn btn-default btn-block active">Industrial Engineering</a></th>
							{% else %}
							<th><a href="/course-selection/INDU" class="btn btn-default btn-block">Industrial Engineering</a></th>
							{% endif %}
						</tr>
						<tr>
							{% if 'MECH' in courses.0.course_code %}
							<th><a href="/course-selection/MECH" class="btn btn-default btn-block active">Mechanical Engineering</a></th>
							{% else %}
							<th><a href="/course-selection/MECH" class="btn btn-default btn-block">Mechanical Engineering</a></th>
							{% endif %}
						</tr>
						<tr>
							{% if 'SOEN' in courses.0.course_code %}
							<th><a href="/course-selection/SOEN" class="btn btn-default btn-block active">Software Engineering</a></th>
							{% else %}
							<th><a href="/course-selection/SOEN" class="btn btn-default btn-block">Software Engineering</a></th>
							{% endif %}
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="row">
			<div class="col-md-10"><h2 class="inline">Courses</h2></div>
			<div class="col-md-2">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					  More
					  <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
					  <li><a href="/course-selection/ENGR" data-toggle="tooltip" title="Click for details">Engineering</a></li>
					  <li><a href="/course-selection/BCEE" data-toggle="tooltip" title="Click for details">Building, Civil and Environmental Engineering</a></li>
					  <li><a href="/course-selection/IADI" data-toggle="tooltip" title="Click for details">AeroSpace Industry</a></li>
					</ul>
				  </div>
			</div>
			</div>
			</br>
			<div class="row">
				{% if not courses %}
				<div style="height:410px;background-color:#f9f9f9;" class="col-md-12 table-bordered">
					<h3> Please select a program to view the corresponding course list </h3>
				</div>
				{% else %}
				<div style="height:410px;overflow-y:scroll;" class="col-md-12 table-bordered">
					<table class="table table-striped">
						{% for course in courses %}
						<tr>
						<td><a href="/course-details/{{course.course_code}}" class="btn btn-default btn-block" data-toggle="tooltip" title="Click for details">{{course.course_code}}</a></td>
						<td>{{course.course_name}}</td>
						<td>
						   <form action="/shopping-cart/do-add" method="post">
							  <input type="hidden" name="course" value="{{ course.course_id }}">
							  <button class="btn btn-default btn-block" type="submit">Add to cart</button>
						   </form>
						</td>
						</tr>
						{% endfor %}
					</table>	
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
