{% extends "home/base.html" %}

{% block content %}
<div class="container studentRecordContainer">
	<h1 class="inline">Student Record :</h1>
	<h2 class="inline">{{ user.username }} </h2>
	<a href="/edit-student-record"><button class="btn btn-default editBtn">Edit</button></a>
	

	<form class="form-inline inline" role="form" action="" method="get">
		<div class="form-group right">
			<label class="control-label inline studentRecordLabel">Term:</label>
			<select class="form-control">
				{% for term in terms %}
				<option value="{{term.term_id}}">{{term.term_name}}</option>
				{% endfor %}
			</select>
			<label class="control-label inline studentRecordLabel">Year:</label>
			<select class="form-control">
				{% for year in years%}
				<option value="{{year}}">{{year}}</option>
				{% endfor%}
			</select>
		</div>
	</form>
	
	<div class="container studentRecordInfoContainer">
		
		<table class="table table-striped">
			<tbody>
				<tr>
					<td><strong>Student Name</strong></td>
					<td>{{ user.first_name }} {{ user.last_name }}</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><strong>Program</strong></td>
					<td>test</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><strong>Credits Required</strong></td>
					<td>test</td>
					<td><strong>Credits Earned</strong></td>
					<td>test</td>
				</tr>
				 <tr>
		            <td><strong>Last Annual GPA</strong></td>
		            <td>test</td>
		            <td><strong>Cumulative GPA</strong></td>
		            <td>test</td>
		        </tr>
		        <tr>
		            <td><strong>Final GPA in Program</strong></td>
		            <td>Will be Determined at Graduation</td>  
		            <td></td>
		            <td></td>
		        </tr>
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
