@charset "utf-8";
/* CSS Document */

/* Fixed NavBar Padding */
body{ padding-top:70px; }

/* Header */

/* navbar */

/* Custom Border */
.firstBorder{
	border-left:1px solid #e7e7e7;	
}
	
.navbar-nav>li{
	border-right:1px solid #e7e7e7;
}/* End border */

/* Custom Alignment */
.navbar-nav>li>a{
	text-align:center;	
}

.navbar-nav>li:hover{
	background-color:#eae9e9; 
}

.dropdown-menu>li>a{
	text-align:center;
}/* End Alignment */
/* End navbar */
/* End Header */


/*  Registration container*/
.register{
	background-color:#f8f8f8;
	margin-top:70px;
	padding:20px;
	max-width:800px;
	border:1px solid #eee;
}

/* Registration Form */
.first{
	max-width:49%;
	display:inline;
}

.last{
	max-width:49%;
	display:inline;
	float:right;
}/* End Registration Form */
/* End Registration */


input:required:valid {
	box-shadow: 0px 0px 7px #00FF00 ;
	border:1px solid #00CC00; 
	-moz-box-shadow: none;
}

/* Student Record */
.studentRecordContainer{
	width:100%;
	padding-left:70px;
	padding-top:30px;
	padding-right:70px;
}

.inline{
	display:inline;
}

.right{
	float:right;
}

.studentRecordLabel{
	padding-right:15px;
	padding-left:20px;
}

.studentRecordInfoContainer{
	width:100%;
	padding-left:100px;
	padding-top:60px;
	padding-right:100px;
}

.editBtn{
	margin-bottom:6px;
	margin-left:20px;
}